@model Asegurado

@{
    ViewData["Title"] = "Eliminar Asegurado";
}

<h2>Eliminar Asegurado</h2>

<h3>¿Está seguro de que desea eliminar este asegurado?</h3>

<div>
    <h4>@Model.Nombre</h4>
    <dl class="row">
        <dt class="col-sm-2">
            Cédula
        </dt>
        <dd class="col-sm-10">
            @Model.Cedula
        </dd>
        <dt class="col-sm-2">
            Teléfono
        </dt>
        <dd class="col-sm-10">
            @Model.Telefono
        </dd>
        <dt class="col-sm-2">
            Edad
        </dt>
        <dd class="col-sm-10">
            @Model.Edad
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AseguradoId" />
        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
